<h2 class="page-header">Add Contact</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<form method="post" action="/contacts/contact">
    <div class="form-group">
        <label>Number</label>
        <input id="txtClient1" type="text" class="form-control" placeholder="Number" name="number">
    </div>
    <div class="sendBtn">
        <a href="#" id="messageSend" class="btn btn-success btn-default"><span class="glyphicon glyphicon-send"></span>Send</a>
    </div>
</form>


