<<<<<<< HEAD

=======
<meta name="viewport" content="width=device-width, initial-scale=1.0">
>>>>>>> ba71f2b31912b057376be172636ea3d7688fd6ea
<div id="groupSelect" class="form-group col-md-4">
    <label id="group" for="inputState">Select Group:</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Families</option>
        <option>Volunteers</option>
    </select>
</div>
<<<<<<< HEAD



=======
>>>>>>> ba71f2b31912b057376be172636ea3d7688fd6ea
<div class="row">
    <div class="col-md-12">
        <div id="messageBox" class="form-group">
            <label id="message" for="form_message">Enter Message:</label>
            <textarea id="form_message" name="message" class="form-control" placeholder="Enter Message.." rows="4"></textarea>
<<<<<<< HEAD
=======
        </div>
    </div>
    <div class="col-md-12">
        <div class="submitButton">
            <button type="submit" class="sim-button button26"><span>Send</span></button>
>>>>>>> ba71f2b31912b057376be172636ea3d7688fd6ea
        </div>
    </div>
</div>


    <a href="#" id="sendBtn" class="btn btn-success btn-default"><span class="glyphicon glyphicon-send"></span>Send</a>


<script>
    $('#sendBtn').click(function() {
        $(this).toggleClass('.clicked');
        $('button p').text(function(i, text) {
            return text === "Sent!" ? "Send" : "Sent!";
        });
    });
</script>