 <h2 class="page-header">CCN Connections Dashboard</h2>

 <div class="form-group">
     <label for="exampleTextarea">Message:</label>
     <textarea class="form-control" id="exampleTextarea" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 112px;"></textarea>
 </div>

 <button type="submit" class="sim-button button26"><span>Submit</span></button>