<button type="button" id="addContactBtn" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">Add Contact</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">Add Contact</h4>
            </div>
            <div class="modal-body">
                <p>Enter Number:</p>
                <input id="txtClient1" type="text" class="form-control" name="contact" placeholder="ex: 1234567891">
                <p style="padding-top: 20px">Select Group:</p>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Families</option>
                    <option>Volunteers</option>
                </select>
            </div>
            <div class="modal-footer">
                <button id="btnAdd" type="button" class="btn btn-success">Add</button>
                <div class="alert alert-success fade">
                    <strong><span class="glyphicon glyphicon-ok"></span></strong> Contact Added
                </div>
                <button id="btnCancel" type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $("#btnAdd").on("click", function() {
        $(".alert").removeClass("in").show();
        $(".alert").delay(200).addClass("in").fadeOut(2000);
    });

</script>


<div id="groupSelect" class="form-group col-md-4">
    <label id="group" for="inputState">Select Group:</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Families</option>
        <option>Volunteers</option>
    </select>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="messageBox" class="form-group">
            <label id="message" for="form_message">Enter Message:</label>
            <textarea id="form_message" name="message" class="form-control" placeholder="Enter Message.." rows="4"></textarea>
        </div>
    </div>
</div>

<div id="sendBtn">
    <button id="messageSend" class="btn btn-success"><i class="glyphicon glyphicon-send"></i>Send</button>
</div>

    <!--<button id="button"></button>-->


<!--<script>-->
    <!--$(function() {-->
        <!--$( "#button" ).click(function() {-->
            <!--$( "#button" ).addClass( "onclic", 250, validate());-->
        <!--});-->

        <!--function validate() {-->
            <!--setTimeout(function() {-->
                <!--$( "#button" ).removeClass( "onclic" );-->
                <!--$( "#button" ).addClass( "validate", 450, callback());-->
            <!--}, 2250 );-->
        <!--}-->
        <!--function callback() {-->
            <!--setTimeout(function() {-->
                <!--$( "#button" ).removeClass( "validate" );-->
            <!--}, 1250 );-->
        <!--}-->
    <!--});-->
<!--</script>-->
