
<div id="groupSelect" class="form-group col-md-4">
    <label id="group" for="inputState">Select Group:</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Families</option>
        <option>Volunteers</option>
    </select>
</div>



<div class="row">
    <div class="col-md-12">
        <div id="messageBox" class="form-group">
            <label id="message" for="form_message">Enter Message:</label>
            <textarea id="form_message" name="message" class="form-control" placeholder="Enter Message.." rows="4"></textarea>
        </div>
    </div>
</div>

<div class="sendBtn">
    <a href="#" class="btn btn-success btn-default"><span class="glyphicon glyphicon-send"></span>Send</a>
</div>
