 <h2 class="page-header">Home Page</h2>


 <!--<form id="twilioForm" role="form" method="POST" action="/twilio/messages">-->
     <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Contact
             <span class="caret"></span></button>
         <ul class="dropdown-menu">
             <input id="txtClient1" type="text" placeholder="Enter Number">
             <p></p>
             <button id="btnCancel" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Cancel</button>
             <button id="btnAdd" class="btn btn-success">Add</button>
         </ul>
     </div>
 <!--</form>-->

 <div id="groupSelect" class="form-group col-md-4">
     <label id="group" for="inputState">Select Group:</label>
     <select id="inputState" class="form-control">
         <option selected>Choose...</option>
         <option>Families</option>
         <option>Volunteers</option>
     </select>
 </div>
 <div class="row">
     <div class="col-md-12">
         <div id="messageBox" class="form-group">
             <label id="message" for="form_message">Enter Message:</label>
             <textarea id="form_message" name="message" class="form-control" placeholder="Enter Message.." rows="4"></textarea>
         </div>
     </div>
 </div>
 <div class="sendBtn">
     <a href="#" class="btn btn-success btn-default"><span class="glyphicon glyphicon-send"></span>Send</a>
 </div>



 <!-- The Modal -->
 <div class="modal fade" id="myModal">
     <div class="modal-dialog">
         <div class="modal-content">

             <!-- Modal Header -->
             <div class="modal-header">
                 <h4 class="modal-title">Are you sure you want to Cancel?</h4>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
             </div>

             <!-- Modal body -->
             <div class="modal-body">
                 Press X to Close This Box
             </div>

             <!-- Modal footer -->
             <div class="modal-footer">
                 <button type="button" class="btn btn-warning" data-dismiss="modal">Go Back</button>
                 <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
             </div>
         </div>
     </div>
 </div>
