
 <h2 class="page-header">CCN Connections Dashboard</h2>

 <button id = "addCon" class="btn btn-primary">Add Contact</button>
             <div class="col-25">
                 <label for="tagId">Group:</label>
             </div>
             <div class="col-25">
                 <input type="text" id = "tagId" placeholder="Enter Tag"/>
             </div>
             <div class="col-25">
                 <label for="grpSel">Selected Groups:</label>
             </div>
             <div class="col-25">
                 <textarea id="grpSel" rows="8" cols="25" name="groups" placeholder="Selected Groups" ></textarea>
             </div>

            <div class="col-20">
                 <label for="txtMsg">Message:</label>
             </div>
             <div class="col-80">
                 <textarea id="txtMsg" rows="8" cols="50" name="comment" placeholder="Enter Message"></textarea>
             </div>

            <button id = "cnlTxt" class="btn btn-warning">Cancel</button>
            <div class="submitButton">
                <button type="submit" class="sim-button button26"><span>Submit</span></button>
            </div>
         <div>
             <button id = "logOut" class="btn btn-secondary">Log Out</button>
         </div>
