<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2 class="page-header">Administrator Login</h2>
<<<<<<< HEAD
<form method="post" action="/users/login">
  <div class="form-group">
    <label id="username">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label id="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
=======
<form id="login" method="post" action="/users/login">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username:">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password: ">
    </div>
>>>>>>> ba71f2b31912b057376be172636ea3d7688fd6ea
    <div class="submitButton">
        <button type="submit" class="sim-button button26"><span>Go</span></button>
    </div>

</form>