<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<h2 class="page-header">Administrator Login</h2>-->
<!--<form method="post" action="/users/login">-->
    <!--<div class="form-group">-->
        <!--<label id="username">Username:</label>-->
        <!--<input type="text" class="form-control" name="username" placeholder="Username">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label id="password">Password:</label>-->
        <!--<input type="password" class="form-control" name="password" placeholder="Password">-->
    <!--</div>-->
    <!--<div class="submitButton">-->
        <!--<button id="submitBtn" class="btn btn-primary"><span>Submit</span></button>-->
    <!--</div>-->
<!--</form>-->



<!-- Default form login -->

<form method="post" action="/users/login" style="width: 70%; margin: 0 auto;">
    <div class="card mx-xl-5">
        <div class="form-header deep-blue-gradient rounded">
            <p class="h4 text-center mb-4">Administrator Login</p>
        </div>
        <!-- Default input email -->
        <label style="margin: 0 auto;" id="username">Username:</label>
        <input id="usernameInput" type="text" class="form-control" name="username" placeholder="Username">

        <br>

        <!-- Default input password -->
        <label style="margin: 0 auto;" id="password">Password:</label>
        <input id="passwordInput" type="password" class="form-control" name="password" placeholder="Password">

        <div class="text-center mt-4">
            <button id="loginBtn" class="btn btn-yellow" type="submit">Login</button>
        </div>
    </div>

</form>
<!-- Default form login -->