/* Space out content a bit */
body {
  padding-bottom: 20px;
}

.background {
  background-repeat: no-repeat;
  z-index: -1000;
  position: fixed;
  width: 100%;
}

.logo {
  width: 25%;
  height: 25%;
  padding-top: 10px;
}

label {
  font-family: Palatino;
  font-size: 15px;
  color: rgb(0, 86, 149);
  margin: 0 180px 5px;
}

li a:hover {
  color: rgb(0, 86, 149);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    margin: 50px 270px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
  text-align: center;
  font-family: Palatino;
  color: rgb(0, 86, 149);
}

footer{
  margin-top:40px;
}

/*The following is for the messagecenter.handlebars page*/
.msgCenter{
  font-family: Roboto, "Kristen ITC";
  font-size: xx-large;
  color: #004085;
  text-align: center;
}

.preload-me{
  margin-left: 24px;
  margin-top: 30px;
}

.container {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
          "header header header header"
          "main main main sidebar"
          "footer footer footer footer";
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.header{
  grid-column: 4;
  grid-row: 1;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;

}

.buttons{
  margin-top: 6px;
  margin-left: 350px;

}
#logOut {
  float: right;
  margin-right: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.tagGroup{
  width: 100%;
  margin-top: 6px;
  float: inside;

}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*the end of  messagecenter.handlebars page*/