/* Space out content a bit */
body {
    padding-bottom: 20px;
}
.backgroundImage{
    padding-bottom: 50px;
}
p {
    text-align: center;
    font-family: Palatino;
    color: rgb(0, 86, 149);
}


.background {
    background-repeat: no-repeat;
    z-index: -1000;
    position: fixed;
    width: 100%;
}
.logo {
    width: 25%;
    height: 25%;
    padding-top: 10px;
}
div.loginscreen{
    display: table-cell;
    vertical-align: text-top;
    margin: 0 auto;
    width: 50%;
}
div.registerpage{
    display: table-cell;
    vertical-align: text-top;
    margin: 0 auto;
    width: 50%;
}
div.contactspage{
    display: table-cell;
    vertical-align: text-top;
    margin: 0 auto;
    width: 50%;
}
div.messagecenter{
    display: table-cell;
    vertical-align: text-top;
    margin: 0 auto;
    width: 50%;
}
div#groupSelect.form-group.col-md-4{
    display: table-cell;
    vertical-align: text-top;
    width: 50%;
}
label{
    display: inline-block;
    vertical-align: text-top;
    margin-left: 200px;
    color: rgb(0, 86, 149);
}
label#group{
    margin: inherit;
    display: table-cell;
    padding-left: 45px;
}
label#message{
    display: table-cell;
    margin: inherit;
    padding-left: 100px;
}
#username {
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin-left: 200px;
}
#password {
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin-left: 200px;
}
#fname {
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#usrname {
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#email {
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#pw {
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#cpw{
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#groupname{
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#phonenumber{
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#group{
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#message{
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
li a:hover {
    color: rgb(0, 86, 149);
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}
/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media (min-width: 768px) {
    .container{
        max-width: 800px;
        background: rgba(255, 255, 255, .5);
        position: relative;
        margin: 0 auto;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    #username,
    #inputState,
    #password,
    .form-group,
    #form_message,
    #groupSelect,
    .loginscreen,
    .registerpage,
    .contactspage,
    .messagecenter,
    .row,
    .col-md-12,
    .col-md-4,
    .submitButton,
    .sendBtn,
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.page-header{
    margin-top:0;
    text-align: center;
    font-family: Palatino;
    color: rgb(0, 86, 149);
}
.dashboardHead {
    margin-bottom:0;
    text-align: center;
    font-family: Palatino;
    color: rgb(0, 86, 149);
}
footer{
    margin-top:40px;
}
.submitButton {
    margin: 0 auto;
    width: 15%;
}

#grpSel {
    float: right;
}
#form_message {
    width: 75%;
    height: 250px;
    position: relative;
    resize: none;
    margin: 0 auto;
}
#inputState {
    width: 75%;
    height: 30px;
    position: relative;
    resize: none;
    margin: 0 auto;
}
#groupSelect {
    font-family: Palatino;
    font-size: 15px;
    color: rgb(0, 86, 149);
    margin: 0 180px 5px;
}
#messageBox span {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

#submitBtn {
    width: auto;

}

* {
    font-family: 'Roboto', sans-serif;
}

/*button {*/
    /*outline: none;*/
    /*height: 40px;*/
    /*text-align: center;*/
    /*width: 130px;*/
    /*border-radius: 40px;*/
    /*background: rgb(0, 86, 149);*/
    /*border: 2px solid white;*/
    /*color: white;*/
    /*letter-spacing: 1px;*/
    /*text-shadow: 0;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*cursor: pointer;*/
    /*transition: all 0.25s ease;*/
    /*display: block;*/
    /*margin: 0 auto;*/
/*}*/
/*button:active {*/
    /*letter-spacing: 2px;*/
/*}*/
/*button:after {*/
    /*content: "Send";*/
    /*font-size: 15px;*/
/*}*/

/*button:hover {*/
    /*color: #ffcc00;*/
/*}*/
/*.onclic {*/
    /*width: 40px;*/
    /*border-color: white;*/
    /*border-width: 3px;*/
    /*font-size: 0;*/
    /*border-left-color: #ffcc00;*/
    /*animation: rotating 2s 0.25s linear;*/
/*}*/
/*.onclic:after {*/
    /*content: "";*/
/*}*/

/*.validate {*/
    /*font-size: 13px;*/
    /*color: #ffcc00;*/
    /*background: rgb(0, 86, 149);*/
/*}*/
/*.validate:after {*/
    /*font-family: 'FontAwesome';*/
    /*content: "\f00c";*/
    /*font-size: 20px;*/
/*}*/
/*@keyframes rotating {*/
    /*from {*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*to {*/
        /*transform: rotate(360deg);*/
    /*}*/
/*}*/

#modalTitle {
    font-family: Palatino;
    color: rgb(0, 86, 149);
    font-weight: bold;
    font-size: 30px;
}
